/* Style sheet for the home page*/
.start{
    margin-top: 33px;
    background-image: url(images/photo.png);
    background-size: 100%;
    padding: 325px 200px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .start h1{
    color: black;
  }
  h1{
    text-align: center;
    font-size: 60px;
  }
  