/*Style sheet for the navigation bar at about me section (basicinfo.html)*/
.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.menu li{
  float: left;
}
.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu li a.active{
  background-color: #111;
}
.menu li a:hover:not(.active){
  background-color: #555;
  color: white;
}
.active{
  background-color: #1cacff;
}
.cont{
  display: none;
}
.show:hover .cont{
  display: block;
}